APP_ENV=local
APP_DEBUG=true

BOOKING_SERVICE_NAME=booking-service
PAYMENTS_SERVICE_NAME=payments-service

BOOKING_HTTP_HOST=0.0.0.0
BOOKING_HTTP_PORT=8000

PAYMENTS_GRPC_HOST=0.0.0.0
PAYMENTS_GRPC_PORT=50051

BOOKING_DATABASE_URL=postgresql+asyncpg://booking:booking@booking-db:5432/booking
PAYMENTS_DATABASE_URL=postgresql+asyncpg://payments:payments@payments-db:5432/payments

REDIS_URL=redis://redis:6379/0

KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_PAYMENTS_EVENTS_TOPIC=payments.events.v1
KAFKA_BOOKING_EVENTS_TOPIC=booking.events.v1

JWT_ACCESS_TOKEN_EXPIRE_MINUTES=15
JWT_REFRESH_TOKEN_EXPIRE_DAYS=30
JWT_ALGORITHM=RS256

LOG_LEVEL=INFO
OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4317
